*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 50px auto;

}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid black;
}

.azzurro {
  background-color: skyblue;
}




